<%- model_class = News -%>
  <div class="container animsition">
<div class="carousel slide col-md-6 fotos">
    <%= image_tag @news.foto_news.url(:medium_news), :class => 'img-responsive' %>
  </div>

  <div class="col-md-6 textowo">



    <div class="panel-body opa "><%= @news.co %></h2></div>
        <hr>
    <div class="panel-body opa "><%= @news.czego %></div>
  <hr>


  </div> <!-- koniec col-md-6 textowo -->
</div> <!-- koniec container -->
