<div class="col-md-6 textowo">



  <div class="panel-body opa "><h2>kontakt</h2></div>
      <hr>
  <div class="panel-body opa ">
<p>
    Pracownia SZTUCZKA
<br>
    Centrum Kultury w Lublinie
    <br>
    ul. Peowiaków 12
    <br>
    20-007 Lublin
    <br>
    tel. 81 466 61 47
    <br>
    tel. +48 505106793
    <br>
    sztuczka@ck.lublin.pl
      <br>  <br>
</p>  </div>
<hr>








</div> <!-- koniec col-md-6 textowo -->

<div class="col-md-6 textowo">



  <div class="panel-body opa "><h2>o nas</h2></div>
      <hr>
  <div class="panel-body opa "><p>
 Sztuczka to nie byle jakaś sztuka czyli trik, lecz sztuka skrojona specjalnie dla dzieci. Pracownia wypuszcza kolejne sztuczki kilka razy w roku, dając tym samym dzieciom możliwość obcowania z coraz to nowymi sytuacjami twórczymi. Sztuczka zakłada zawsze współuczestnictwo stąd warsztaty, interaktywne spektakle czy alternatywna edukacja. Formuła pracowni jest otwarta zarówno na różne dziedziny sztuki, formy edukacji, twórców i animatorów, ale przede wszystkim na dzieci.
</p>
  </div>
<hr>


                  <div class=" znik1 panel-body opa"><p>
        SZTUCZKA była od początku była pomyślana jako płaszczyzna styku wielu różnych aktywności, zarówno twórczych jak i edukacyjnych, ale też zabawowych. Nie sposób było pomyśleć to inaczej, ze względu na specyfikę odbiorcy. A jest nim zawsze, pośrednio, czy bezpośrednio, dziecko. To ono uczy się przez zabawę, bawi przez sztukę, tworzy ucząc się. Kombinacji jest wiele a wiele z nich podpowiadają nam same dzieci. Istotnym elementem całej tej sztuczkowej układanki jest stworzenie dla dzieci swego rodzaju alternatywy, którą zdawałoby się monopolizowali dorośli. Potrzeba niestandardowego myślenia, czy odmiennych od tradycyjnych form edukacji czy wreszcie sztuki jest właśnie najbardziej rozbuchana i często niezaspokojona w dzieciństwie.
  </p>    </div>







</div> <!-- koniec col-md-6 textowo -->
