@media (max-width: 992px) {

body {
background: #fff!important ;
padding-bottom: 50px!important;
font-family: 'PT Sans', sans-serif!important;
font-weight: 400!important;
font-size: 4.4vw!important;
line-height: 6.2vw!important;
}

img { margin-bottom: 10vh;}
.list-group-item {
    background-color: transparent!important;
    border:0!important;
    font-weight: 400!important;
    font-size: 5.4vw!important;
    line-height: 4.2vw!important;
}
.col-md-6 { margin: 0!important; padding: 0!important;}
.opa {background: #fff; opacity:1.0;  padding: 40px!important; margin: 0!important; opacity: 1.0;}
h2 { font-size: 350%!important;}
.navbar {display: none;}
.tel {display: none;}
}

@media (min-width: 992px) {
.container {
  // position: relative;
  // top: -5vh

}
h2 { font-size: 500%!important;}

.menu-out ul { width: 25%; float: left; border-left:3px solid white; min-height: 400px;
padding-top: 60px;
  position: relative; top:5%;
  -webkit-transform: translate(0, 5%);
     -moz-transform: translate(0, 5%);
      -ms-transform: translate(0, 5%);
       -o-transform: translate(0, 5%);
          transform: translate(0, 5%);
}
img {
// border-top-right-radius: 3% 50%;
// border-bottom-right-radius:  100% 100%;
}
.carousel {position:relative; left: -50px;}
/*.textowo {border-bottom-left-radius:  100% 100%; overflow: hidden;}*/

  body {
  background: #fff!important ;
padding: 0!important;
margin: 0!important;
  font-family: 'PT Sans', sans-serif!important;
  font-weight: 400!important;
  font-size: 1.3vw!important;
  line-height: 2.2vw!important;
}
.list-group-item {
    background-color: transparent!important;
    border:0!important;
    font-weight: 400!important;
    font-size: 1.2vw!important;
    line-height: 1.0vw!important;
}
.opa {background: transparent; opacity:1.0; padding: 40px!important; opacity: 1.0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.opa:hover {background:rgba(255, 255, 255, 1.0); }
#m {display: none;}
td {max-width: 30vw;}
table {width: 100vw!important; margin:15vh 0 0 0; padding: 0;}
.margin-top {margin:15vh 0 0 0;}
tr {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
tr:hover {background-color: rgba(255, 255, 255, 1.0);}
.navbar  {background-color: rgba(255, 255, 255, 1.0)!important; border: 0!important;
position:fixed; top:0; z-index: 300; width: 100vw;}
.navbar a {font-size: 1.4vw;}
.navbar a:hover  {color: #000;}

} // koniec media-query


/*menu i jego podopieczni*/
.menu-in {
  position:fixed;
  bottom:-330px; left:50%;
  z-index: 200;


    height: 400px;
    width: 400px;
    border-radius: 200px;
    background: #333333;




-webkit-transform: translate(-50%, 0);
   -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
     -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
}
.menu-in div {
  font-weight: 400!important;
  font-size: 3.3vw!important;
  line-height: 1.8vw!important;
  color: #fff;
  padding: 40px 0 ;

  text-align: center;


  position: relative; left:50%;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);



}

.czarny {
  background-color: #333333!important;
}
.bialy {
  background-color: white!important;
}


.menu-out {
display: none;

position: absolute;
top:0; left:0;
width: 100%;
height: 100%;

margin:0;
padding:0;
border:0;
color: #fff;
z-index: 101;
min-height: 2000px!important;
opacity: 0.9!important;
}


.list-group  li a {
color: #fff;
}
.list-group  li a:hover {
color: #000;
background: #fff;
}
























.container {z-index: 99!important;
width: 100%!important;
}
p{
  font-size: 1.4vw!important;
  line-height: 1.8vw!important;
}
/*.znik1, .znik3 {display: none!important;}
.znik1, .znik2, .znik3
 {
background-color: #fff!important;
padding: 2vw!important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}*/



.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
    padding: 1vw 0.2vw;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 1vw 0.8vw;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 2vw 0.8vw;
  font-size: 2.0vh;
  line-height: 2.8vw;
  border-radius: 50px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}




tr.jeden-opis {height: 100px!important;}








.carousel .item {
    -webkit-transition: opacity 2s!important;
    -moz-transition: opacity 2s!important;
    -ms-transition: opacity 2s!important;
    -o-transition: opacity 2s!important;
    transition: opacity 2s!important;
    width: 100%!important;
    padding: 0!important;
    margin: 0!important;

}
.carousel .active.left {
    left:0!important;opacity:0!important;z-index:2!important;
}
.carousel .next {
    left:0!important;opacity:1!important;z-index:1!important;
}

.niusy-tlo span{
background: rgba(255, 255, 255, 0.2)!important;


}

//dropdown menu styles
// .menu {display: none;}

.sub-menu li a:hover {background-color: transparent;}
.sub-menu li a img {  border: 5px solid transparent;}
.sub-menu li a img:hover {  border: 5px solid #000;}

.menu {position: fixed;
bottom: 0;
left: 0;
z-index: 100;
}

.dropdown-menu>li
{	position:relative;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
  background-color: transparent;
  	box-shadow:none;
}
.dropdown-menu {
  background-color: transparent;
  border-color: transparent;
  	box-shadow:none;
}
.dropdown-menu .sub-menu {
  background-color: transparent;
  border-color: transparent;
    left: 80%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:transparent;
	box-shadow:none;
}
.right-caret:after,.left-caret:after
 {	content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.right-caret:after
{	border-left: 5px solid #ffaf46;
}
.left-caret:after
{	border-right: 5px solid #ffaf46;
}
.poka p {margin-left: 200px;}
ul li  { list-style-type: none; }
ul li h4  {margin: 0!important;}
ul li a  {margin: 0 0 10vh 10vh;}
